<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="UrlBase" value="https://localhost:7292/api/"/>
      <add key="UserID" value="andre@email.com" />
      <add key="AccessKey" value="Abs123@"/>
    </appSettings>
</configuration>